extends layout

block content
    h1 #{titulo}
    div
    table.table
          thead
             tr
               th #{tituloDato}

               th #{numDato}
           tbody
              - for(var i = 0; i < customers.length; ++i){
              tr
                th #{customers[i]._id}
                th #{customers[i].Quantity}
              -}
    input(type='button', value='Imprimir', onclick='window.print()')
